In [81]:
import numpy as np
import pandas as pd

a = np.array([["oui", 'oui'], 
              ["oui", 'non'], 
              ["non", 'oui'], 
              ["non", 'non'],
              ["oui", 'oui'], 
              ["oui", 'non'], 
              ["oui", 'oui']
              ])
print(np.shape(a))
print(a)

(7, 2)
[['oui' 'oui']
 ['oui' 'non']
 ['non' 'oui']
 ['non' 'non']
 ['oui' 'oui']
 ['oui' 'non']
 ['oui' 'oui']]

In [82]:
df = pd.DataFrame(data=a)
df = df.rename(columns={0: "q1", 1:"q2"})
print(df)

    q1   q2
0  oui  oui
1  oui  non
2  non  oui
3  non  non
4  oui  oui
5  oui  non
6  oui  oui

In [83]:
un = df["q1"].unique()
code = np.eye(np.size(un))

print(code)
print(type(code[0]))
for i in range(len(un)):
    print(un[i])
    print(code[i])
    df = df.replace(un[i], str(code[i]))
print(df)

[[1. 0.]
 [0. 1.]]
<class 'numpy.ndarray'>
oui
[1. 0.]
non
[0. 1.]
        q1       q2
0  [1. 0.]  [1. 0.]
1  [1. 0.]  [0. 1.]
2  [0. 1.]  [1. 0.]
3  [0. 1.]  [0. 1.]
4  [1. 0.]  [1. 0.]
5  [1. 0.]  [0. 1.]
6  [1. 0.]  [1. 0.]

In [86]:
print(df["q1"])

0    [1. 0.]
1    [1. 0.]
2    [0. 1.]
3    [0. 1.]
4    [1. 0.]
5    [1. 0.]
6    [1. 0.]
Name: q1, dtype: object